.product-page {
    text-align: center;
    padding: 20px;
}

.image-gallery {
    margin-top: 20px;
}

.date-group {
    margin-bottom: 40px;
}

.date-group h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
}